.overlay-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-links-item {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 65px;
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
