.overlay-wrapper {
  /* Position it off-screen at the bottom */
  /* transform: translateY(-100%); */
  /* Make sure it covers the screen and is on top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.menu-link-item-holder {
  color: white;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 110%;
  width: max-content;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}
